body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #333;
	background: url(admin/stripe.png) #fafafa;
}
a { color: #300; }

a:link { color: #999; text-decoration: none; }
a:visited { color: #999; text-decoration: none; }
a:hover { color: #C00000; text-decoration: underline; }
a:active { color: #C00000; }

h1, h2, h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	font-size: 2.5em;
}
h2 { font-size: 2.2em; }
h3 { font-size: 2em; }
img { border: none; }
table {border-top: 1px solid #ccc;border-left: 1px solid #ccc;}
td, th { padding: 0.5em; border-bottom: 1px solid #ccc; border-right: 1px solid #ccc;}
tr:hover {background: #ccc;}

#menu {
	position: absolute;
	top: 50px;
	left: 0.5em;
	width: 13em;
	background: #F0F0F0;
	border: 1px solid #C0C0C0;
	padding: 0.5em 1em;
	margin-bottom: 1em;
}
#menu .hr span {
	display: block;
	border-top: 1px solid #C0C0C0;
	margin: 0.4em -0.8em;
}
#container {
	position: absolute;
	top: 50px;
	left: 16em;
	right: 0.5em;
}
#container #contentDiv {
	overflow: auto;
	min-height: 14em;
	padding: 1.5em;
	background: #F0F0F0;
	border: 1px solid #C0C0C0;
	margin-bottom: 0.4em;
}
#container #footer {
	text-align: center;
	padding: 0.1em;
	background: #F0F0F0;
	border: 1px solid #C0C0C0;
	margin-bottom: 1em;
}