.captcha {
	display: none;
}
fieldset p {
	margin: 0;
}
fieldset {
	background: #fff;
}
.image ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	overflow: auto;
}
.image li {
	float: left;
	display: block;
}
.image li a {
	padding: 5px 0;
	margin: 5px;
	width: 130px;
	display: block;
	border: 1px solid #E2E2E2;
	text-align: center;
	text-decoration: none;
}
.image li a:hover {
	background: #B2E1FF;
}
.image li .delete {
	padding: 2px 0;
	border-top: none;
	margin-top: -5px;
}
.image li .delete:hover {
	background: #f98e8e;
	color: #000;
}

#files table {
	border: 1px solid #E2E2E2;
	padding: 0;
}
#files td {
	padding: 5px;
}
#files .delete {
	float: right;
}
#files tr:hover td {
	background: #B2E1FF;
}
#files table {
	width: 100%;
}
.size, .date {
	text-align: center;
	width: 85px;
}
th {
	background: #F0F0EE;
	border-bottom: 1px solid #E2E2E2;
}
.size {
	border-left: 1px solid #E2E2E2;
	border-right: 1px solid #E2E2E2;
}